.notfound-wrapper {
    width: 100%;
    min-height: 100vh;
    background: #121219;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.notfound-card {
    background: #0c0d11;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 30px #000;
    max-width: 400px;
    width: 100%;
}

.notfound-title {
    font-size: 5rem;
    margin: 0;
    color: #2970ff;
}

.notfound-subtitle {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #ccc;
}

.notfound-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    background: #121219;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    transition: background 0.3s;
}

.notfound-btn:hover {
    background: #2970ff;
}

/* Responsive */
@media (max-width: 480px) {
    .notfound-title {
        font-size: 3.5rem;
    }

    .notfound-subtitle {
        font-size: 1rem;
    }

    .notfound-btn {
        font-size: 13px;
        padding: 8px 16px;
    }
}