.wheel-game-container {
  height: 85vh;
  text-align: center;
  margin: 2rem 1rem;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-box {
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  justify-content: center;
  background: #121219;
  border: 1px solid #2970ff;
}

.second-box {
  width: 49%;
  height: 100%;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  background: #121219;
  border: 1px solid #2970ff;
}

.wheel {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #333;
  background: conic-gradient(#2970ff 0deg 90deg,
      transparent 90deg 180deg,
      #2970ff 180deg 270deg,
      transparent 270deg 360deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  user-select: none;
  transition: transform 2.5s ease-out;
}

.actions-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.add-button,
.spin-button {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  position: absolute;
  cursor: pointer;
  transition: background 0.3s ease;
  color: white;
}

.add-button {
  background: #0c0d11;
  bottom: 10px;
  right: 130px;
}

.spin-button {
  bottom: 10px;
  right: 10px;
  background: #2970ff;
}

.spin-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.players-list {
  color: #fff;
  text-align: start;
}

.players-list p {
  font-size: 30px;
}

.players-list ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.players-list li {
  margin-bottom: 5px;
  font-weight: bold;
  background: #0c0d11;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-item {
  display: flex;
  align-items: center;
}

.player-icon {
  margin-right: 10px;
}

.trash {
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #0009;
}

.modal {
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  background: #121219;
}

.wheel-game-container .modal:last-child {
  text-align: start;
  position: relative;
}

.wheel-game-container .modal:last-child p {
  color: #aaa;
  margin-top: 10px;
}

.wheel-game-container .modal:last-child button {
  margin-top: 1rem;
}

.timer {
  top: 5px;
  right: 15px;
  color: #09f;
  position: absolute;
}

.modal h3 {
  color: #fff;
  text-align: start;
}

.modal input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 1rem;
  border-radius: 6px;
  margin-top: 1rem;
  color: #fff;
  outline: none;
  background: #0c0d11;
  border: 1px solid #2970ff;
}

.modal button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: #2970ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #1976d2;
}

.players-list {
  overflow-y: scroll;
  height: 100%;
}

.players-list::-webkit-scrollbar {
  width: 0;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.home-button {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c63ff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 600;
}

.home-button:hover {
  background-color: #4b44e0;
}

/* Responsive */
@media (max-width: 880px) {
  .wheel-game-container {
    display: block;
  }

  .first-box,
  .second-box {
    width: 100%;
    height: 85%;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .first-box,
  .second-box {
    height: 75%;
    padding: 10px;
  }

  .wheel {
    width: 300px;
    height: 300px;
    margin-top: -2rem;
  }

  .players-list p {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .first-box,
  .second-box {
    height: 50%;
  }

  .wheel {
    width: 150px;
    height: 150px;
  }
}
